*{
    margin: 0;
    padding: 0;
    
}

body{
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.twoButton{
    margin: 20px 0px;
}

.twoButton button{
    font-size: 20px;
    margin: 0px 20px;
}